*{
    margin: 0;
    padding: 0;
}
nav{
    display: flex;
    justify-content: space-between;
    width: 1140px;
    margin: 0 auto;
}
header{
    background-image: url("../Assets/Hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}
nav h1{
    color: #4E47FF;
    font-size: 34px;
    font-weight: black;
}




nav ul li{
    list-style: none;

}
nav li a{
    text-decoration: none;
}
.btn-primary{
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    
    background-color: #4E47FF;
    color: #FFFFFF;
}
.section-template{
    text-align: center;
    
}
.template{
    /* text-align:center ; */
    margin-bottom:37px ;
    font-size: 65px;
    font-weight: bold;
    margin-top:158px ;
    

}
.btn{
    text-align: center;
    margin-bottom: 200px;
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    
    background-color: #4E47FF;
    color: #FFFFFF;
  
}
.banner-section{
    max-width: 1140px;
    margin: 0 auto;
    margin-bottom: 50px;
}
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-greetings{
    color:#252432 ;
    font-size: 42px;
    font-weight: bold;
}
.banner-description{
    font-size: 24px;
    color: #2524327c;
    margin: 10px 0;
}
.banner-pic{
    border-radius: 42px;
}

.product{
    max-width: 1000px;
    margin: 0 auto;
    padding: 50px 80px;
    background-color: #4d47ff44;
    box-shadow: 10px 10px 10px rgba(0 0 0 0.6);
    
}


.about-heading{
    font-size: 38px;
    font-weight: bold;
    color:#252432 ;
    text-align: center;
    
}
.about-items{
    display: flex;
    justify-content: center;
    gap: 158px;
}
.about-title{
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;

}
.about-description{
    font-size: 20px;
    color:#2524327c ;
    
}
.star-section{
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 50px;
    
}
.star{
    display:flex;
    gap: 24px;
}
.star-heading{
    text-align: center;
    font-size: 42px;
    font-weight:bold ;
    color: #252432;
    margin-bottom: 50px;
}

.star-content{
    width: 320px;
    gap: 24px;
    padding: 24px;
    border-radius: 14px;
    background-color:#ffffff7b;

    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.071);
    cursor: pointer;
    transition: 0.8s;

}
.star-content:hover{
    background-color: antiquewhite;
}
.review{
    display: flex;
    gap: 5px;
}
.review-heading{
    color: #4E47FF;
}
.section-from{
    max-width: 1140px;
    margin: 0 auto;
    background-color: #D6DDED;
    margin-top: 50px;
    padding: 71px 0;
}


.from{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.heading-from{
    font-size: 50px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
}
input[type=text],input[type=email]{
    padding: 20px 32px;
    border:none;
    border-radius:10px;
    background-color: #FFFFFF;
}
textarea{
    padding: 20px 32px;
    border-radius: 10px;
    border: none;
}
.click{
    padding: 19px 70px;
    gap: 10px;
}
footer{
    max-width: 1140px;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

    
}
.footer-heading{
    text-align: center;
    
    font-size: 100px;
    font-weight: black;
    color: #4E47FF;
}
.container{
    
    align-items: center;
}
.footer-description{
    text-align: center;
    
    color: #8987A1;
    margin: 10px 0 20px;
}
.fot-nav {
    text-align: center;
    align-items: center;
    justify-content: center;

}
.fot-nav ul{
    list-style: none;
    padding: 0;


}
.fot-nav ul li{
    display: inline;
    margin: 0 15px;

}
.fot-nav ul li a{
    text-decoration: none;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.fot-nav ul li a:hover{
    text-decoration: underline;
}






